<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hamilton Timeline</title>
</head>
<body>
    <h1>Hamilton Timeline</h1>
    <section id="timeline">
        <ul class="timeline__events">
            {% for event in events %}
                <li>
                    <article class="timeline__event">
                        <h4 class="timeline__event__title">
                            {{ event.node.title }}
                        </h4>
                        <div class="timeline__event__meta">
                            {{ event.node.occurredOn|formatdate }}
                        </div>
                        <figure>
                            <img src="/images/hamilton-default.jpg" alt="Hamilton icon" width="300" height="auto">
                        </figure>
                        <div class="timeline__event__description">
                            {{ event.node.description }}
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>